body{
    background-color: black;
    /*agregados al body*/
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.card{
    background-color:ivory;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
div.header-card{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
div.content-card{
    padding: 20px;
}
div.content-card span{
    display: flex;
    justify-content: space-between;
    margin-bottom:  10px; 
}
h1{
    color: red;
    margin-top: 30px;
}
.image img{
     width: 100%;
    display: block;
    
}
