body{
    background-color: black;
    /*agregados al body*/
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    background-color: white;
    width: 400px;
    border-radius: 10px;
    margin-top: 30px;
    /*
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    overflow: hidden;
    */
}
div.card{
    background-color:ivory;
    width: 40%;
    margin: auto;
}
div.header-card{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
div.content-card{
    padding: 20px;
}
div.content-card span{
    display: flex;
    justify-content: space-between;
    margin: bottom 10px; ;
}
h1{
    color: red;
    margin-top: 30px;
}
.image img{
     width: 100%;
    display: block;
}
